/* CSS Document for Screens */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700&display=swap');

body {
     margin: 0;
     padding: 0;
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
     font-size: 16px;
     color: #555;
     overflow-x: hidden;
}
#page {max-width: 1200px; margin: 0 auto; position: relative;}

/* Text */
h1 {margin : 0 0 1em 0; font-size: 2.8em; font-weight: 700;}
h2 {margin : 0 0 0.5em 0; font-size: 1.6em; font-weight: 700;}
h3 {margin : 0 0 0.5em 0; font-size: 1.3em; font-weight: 700;}
h4 {margin : 0 0 1.5em 0; font-size: 1em; font-weight: 700;}

p { margin : 0 0 1em 0;}

a {color : #007eff;}
a:visited {color:#65b1ff}

a.btn {
     text-decoration:none; 
     font-size: 1.2em; 
     color: #fff; 
     border: solid 1px #fff; 
     padding: 4px 15px;
     transition: background-color .5s;

}

a.btn:hover { background-color: rgba(0,0,0,0.8);}


/* Header */

header {height:430px; background:#cf0004 url('../image/banner_1200.jpg') no-repeat center bottom; position: relative;
background-size:cover;}

header a.site-logo {
     width:139px;
     height:66px;
     display:block;
     position: absolute;
     background: url('../image/logo.svg') no-repeat 0 0;
     background-size: contain;
}
header a.site-logo span {
     display: none;
}

header div.hero {
      width :42%;
      position: absolute;
      top:240px;
      left:55%;
}

header div.hero h1 {
     line-height: 1em;
     margin: 0 0 30px 0;
     color: #fff;
}
/* Section-All */
section { padding: 0 30px;}
/* Clear the float */
section::after {content: ""; display:block; clear:both}

/* Section-Main  */
section.main { margin-top: 20px; margin-bottom:30px; padding: 0;}
section.main aside { width:33%; float: left; text-align: center;}
section.main .content {margin:15px; background: no-repeat center top; background-size: 75px 75px;padding-top: 85px;}

section.main aside h3 a{ text-decoration:none;}
section.main aside h3 a:hover{ color: rgba(40, 150, 165, 0.4);}
section.main .content.trending{background-image: url('../image/icon_star.svg');}
section.main .content.find-it{background-image: url('../image/icon_gear.svg');}
section.main .content.tools{background-image: url('../image/icon_marker.svg');}


/* Section Atmosphere */

section.atmosphere {padding-top:30px; padding-bottom: 30px; color:#fff;  background-color: rgb(125, 153, 69); }
section.atmosphere article {padding:10px 30px 0 515px; background: url('../image/photo_lighting.jpg')no-repeat 0 5px; min-height:220px;
background-size: contain;}